/* Sekcja główna */
.content {
    flex: 1;
    background-color: #222222;
    padding: 1em;
    overflow-y: auto;
    /* Scroll tylko w sekcji głównej */
}

.events {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.event-card {
    background-color: #e3f7e0;
    padding: 15px;
    border-radius: 10px;
}